---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "My Posts";
---

<BaseLayout pageTitle={pageTitle}>
  <ul>
    <li><a href="/posts/post-1">Welcome to my blog</a></li>
    <li><a href="/posts/post-2">Understanding Recursive Functions</a></li>
    <li><a href="/posts/post-3">Why Astro is Lightning Fast</a></li>
  </ul>
</BaseLayout>
