---
const links = [
  {
    label: "Home",
    href: "/",
  },
  {
    label: "Blog",
    href: "/blog",
  },
  {
    label: "About",
    href: "/about",
  },
  {
    label: "Tags",
    href: "/tags",
  },
];
---

<div id="main-menu" class="nav-links">
  {links.map((link) => <a href={link.href}>{link.label}</a>)}
</div>
