---
const { platform, username } = Astro.props;
---

<a href={`https://${platform}.com/${username}`}>{platform}</a>

<style>
  a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
  }
  a:hover {
    color: orange;
  }
</style>
